html
   head
      title Person
   body
      if(type == "error")
         h3(style = "color:red") #{message}
      else
        h3 Person Details
        hr
        p Name: #{person.name}
            
        p Age: #{person.age} 
            
        p Nationality: #{person.nationality}
        hr

        a(href='/people') Back to People