html 
    head 
        title All People 
    body 
        table 
            tr 
                th Name 
                th Age 
                th Nationality 
                th View Person 
                th Update Person
                th Delete Person
            each person in people 
                tr 
                    td #{person.name}
                    td #{person.age}
                    td #{person.nationality}
                    td 
                        a(href = `/person/${person.id}`) View Person
                    td 
                        a(href = `/update/${person.id}`) Update Person
                    td 
                        a(href = `/delete/${person.id}`) Delete Person