html
   head
    title Static Files 
    script(src='/static/js/date.js')
   body
      h3 Testing static file serving:
      button(onclick = "showDate()") Show Date
      img(src = "/images/alphasch.png")
      