html
   head
      title Person
   body
      form(action = `/update/${person.id}`, method = "POST")
         div
            label(for = "name") Name: 
            input(name = "name" value = `${person.name}`)
         br
         div
            label(for = "age") Age: 
            input(name = "age" value = `${person.age}`)
         br
         div
            label(for = "nationality") Nationality: 
            input(name = "nationality" value = `${person.nationality}`)
         br
         button(type = "submit") Update Person