html 
    head 
        title Upload File 
    body 
        form(action='upload' method='post' enctype="multipart/form-data")
            input(type='file' name='file')
            br
            button(type='submit') Submit